email labels.json
{
  "name": "email labels",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "2da3f89c-0673-40be-9273-f5eb881d7797",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "gSeOWhzlRCurlAsF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "Extract the sender's name from this email. If no name, return an empty string."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "bd36cd77-bf80-4d80-8091-b1935104cfb4",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "983a6243-2788-4840-9b26-ab25ed7910d0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KRozJh8u2fVyej5q",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "36e6eda7-3cc8-451e-950f-412eace9d828",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        0
      ],
      "id": "830afae2-4270-4b5e-97c9-d99a06815850",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6ba76c-ac71-4c7c-82bd-9940249b02f5",
              "name": "intro",
              "value": "={{ $json.output.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -96
      ],
      "id": "593d83a4-e57b-4281-9047-0de4acb13076",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6ba76c-ac71-4c7c-82bd-9940249b02f5",
              "name": "intro",
              "value": "=Hi,",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        96
      ],
      "id": "4efdc42c-2b35-4e4d-b69a-796818a84616",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "intro",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        0
      ],
      "id": "00da80b3-a324-4398-92ca-ec8f21635bdf",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6dbaea90-eea9-440d-a348-de715de1b60f",
              "name": "message_id",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "2aeb6dec-afec-4e2a-bfa7-d85a10461b5f",
              "name": "intro",
              "value": "={{ $json.intro }}",
              "type": "string"
            },
            {
              "id": "c4c0d841-4575-41af-93c8-241e708bc417",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "70ffa7f9-5640-4a50-8fd8-b3491566e9b6",
              "name": "text",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        0
      ],
      "id": "eb28c1bf-58b0-4ea5-95f1-36331fd22ce8",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Promotional",
              "description": "=Email does not contain the word test."
            },
            {
              "category": "Others",
              "description": "Email contain the word test."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1472,
        0
      ],
      "id": "327ce155-0316-4fca-951f-cf0b668852e6",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1552,
        224
      ],
      "id": "813130b9-1386-4602-bf17-d191a46bbdd9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "KRozJh8u2fVyej5q",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_1292792308855028163"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        -96
      ],
      "id": "7ed2f564-1672-4743-a2f0-1c43dfd24d8a",
      "name": "Promotional Email",
      "webhookId": "3938131a-365d-4df3-a670-5b8b9f4cb025",
      "credentials": {
        "gmailOAuth2": {
          "id": "gSeOWhzlRCurlAsF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_1556961565830567612"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        96
      ],
      "id": "c5f149b0-4037-41f7-bfd7-3cf23eb3628b",
      "name": "Others Email",
      "webhookId": "c8710868-f839-46e7-a055-5c1f68918eb9",
      "credentials": {
        "gmailOAuth2": {
          "id": "gSeOWhzlRCurlAsF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "Thank you for your email.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2048,
        -96
      ],
      "id": "fbe5b4f2-e936-4649-b06f-cb6bc6cd561c",
      "name": "Reply Promotional Email",
      "webhookId": "601d9dbb-da24-4187-9560-316aff3470b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "gSeOWhzlRCurlAsF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "Thank you for your email.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2048,
        96
      ],
      "id": "e763ea72-d3a6-408b-8b9c-53a78b1ad2f0",
      "name": "Reply Others Email",
      "webhookId": "601d9dbb-da24-4187-9560-316aff3470b3",
      "credentials": {
        "gmailOAuth2": {
          "id": "gSeOWhzlRCurlAsF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 640,
        "width": 2496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -208
      ],
      "typeVersion": 1,
      "id": "16c1c177-be53-48b7-892c-db4b86f42999",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Promotional Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Others Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotional Email": {
      "main": [
        [
          {
            "node": "Reply Promotional Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Others Email": {
      "main": [
        [
          {
            "node": "Reply Others Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "dc421559-c518-4ecb-885d-cc1c076e5fd5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e65981d6b69d01272dda4bcd11b90796e4bf108e1ef7a197e3eac80ad7562365"
  },
  "nodeGroups": [],
  "id": "gZ2ak21BNJWBHKzl",
  "tags": []
}