RAG Project 2.json
{
  "name": "RAG Project 2",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-dense-index",
          "mode": "list",
          "cachedResultName": "n8n-dense-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        -576
      ],
      "id": "e87fae33-3676-4653-871a-0445a0723f51",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "CTbEHM7oVmd7T6ec",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        672,
        -352
      ],
      "id": "84affcb4-be25-4e55-88a3-902c75a8982a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KRozJh8u2fVyej5q",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        -272
      ],
      "id": "c182fe28-fce1-4722-97cd-51a56e2b2681",
      "name": "When chat message received",
      "webhookId": "5045e478-cc5f-4aa7-824b-3e5c30c6b615"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant. Only use the Pinecone Vector Store Tool to retrieve the details of illness."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -336,
        -272
      ],
      "id": "16d41a21-9411-44a3-8afa-dd9d03bf11f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -448,
        -48
      ],
      "id": "3935f595-40db-4cfd-8f60-4a430cbcdff0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KRozJh8u2fVyej5q",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contains data about birthday.",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-dense-index",
          "mode": "list",
          "cachedResultName": "n8n-dense-index"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -144,
        -48
      ],
      "id": "7acf6f98-a89d-4790-b3a4-693e9c7d6f77",
      "name": "Pinecone Vector Store Tool",
      "credentials": {
        "pineconeApi": {
          "id": "CTbEHM7oVmd7T6ec",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -576
      ],
      "id": "ece0bd57-1628-4bbc-8b9b-bc05b0a32668",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -272,
        -48
      ],
      "id": "788947b5-3a3d-4b03-ae57-b4aedb4b65cc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "",
        "height": 768,
        "width": 2016,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -672
      ],
      "typeVersion": 1,
      "id": "f01843b5-c339-4d6a-9b63-10ddb9457c32",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        -576
      ],
      "id": "892e0d47-b74b-4df3-b129-4ebe6ae5c5f8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0e724df-685f-4661-b2ec-3cdd3c2ba0f1",
              "name": "urls",
              "value": "[\"https://bvna.org.uk/wp-content/uploads/2021/10/Chronic-Illness-Directory-Interactive.pdf\", \"https://appxcontent.kaxa.in/notes2/2024-07-08-0.31861271748138975.pdf\", \"https://nios.ac.in/media/documents/srsec314newE/PDFBIO.EL28.pdf\", \"https://www.dhhs.nh.gov/sites/g/files/ehbemt476/files/documents/2021-11/disease-handbook-complete.pdf\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        -576
      ],
      "id": "0c1cc8e2-4800-4725-9eda-7f9fda7468f0",
      "name": "Set file urls"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        80,
        -576
      ],
      "id": "8bd5688c-5f93-43be-8d5e-9eea7f226014",
      "name": "Split to list"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        -144
      ],
      "id": "fe66f055-75a5-4234-bec8-5243924671be",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "external_file_url",
                "value": "={{ $json.urls }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        800,
        -352
      ],
      "id": "27b6a80f-e774-408d-aa01-29e5619e0dc5",
      "name": "Default data loader1"
    },
    {
      "parameters": {
        "sendTo": "talktossaxena@gmail.com",
        "subject": "Illness Details",
        "emailType": "text",
        "message": "={{ $json.output['Illness Name'] }}\n\n{{ $json.output.Symptoms }}\n\n{{ $json.output.Cure }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        -272
      ],
      "id": "9cf5ac17-76d2-4f02-bfd7-0992fac526c9",
      "name": "Send a message",
      "webhookId": "77807143-9eeb-45c0-8e13-b1a2f7c5181b",
      "credentials": {
        "gmailOAuth2": {
          "id": "gSeOWhzlRCurlAsF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"Illness Name\": \"\",\n\t\"Symptoms\": \"\",\n    \"Cure\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        -48
      ],
      "id": "b26e2bcb-7905-4df4-9704-b0141e8f563e",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set file urls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set file urls": {
      "main": [
        [
          {
            "node": "Split to list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to list": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default data loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default data loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0a8ced1f-7241-4738-8bbc-181d4ec82978",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e65981d6b69d01272dda4bcd11b90796e4bf108e1ef7a197e3eac80ad7562365"
  },
  "nodeGroups": [],
  "id": "acHIZn92ZoG4qHJq",
  "tags": []
}